/*
 *
 * MMM-DailySchedule
 *
 * Jared Russell
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

 .line {
    text-align: left;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    
}

.line:after {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 240px;
}

.single-digit-spacing:after {
    left: 27px;
}
.double-digit-spacing:after {
    left: 20px;
}

.line:before {
    right: 0.5em;
    margin-left: -50%;
}

.event-box {
    position: relative;
    background: rgba(51, 51, 255, 1); /* Shades of Gray */
    top: -165px;
    left: 34px;
    width: 250px;
    height: 29px;
    border: 1px solid #668cff; /* Shades of blue */
    border-left-width: 3px;
}


.event-time {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 40%;

    position: relative;
    top: -15px;
    left: -5px;
    width: 60px;
    height: 0px;
}

.event-title{
  font-family: Georgia;
  font-weight: normal;
  font-size: 30%;

  position: relative;
  top: 0px;
  left: -30px;
  width: 60px;
  height: 0px;

}

/* May be unnecessary */
.event-loction{
  font-family: Georgia;
  font-weight: normal;
  font-size: 70%;
  margin-left: 2px;
}
